#nav-bar {
    height: 36px !important;
    padding: 0px 4px 2px 4px !important;
    box-shadow: none !important;
    border-top: none !important;
    
    
  }
  
  #TabsToolbar {
    height: 36px !important;
    background-color: rgba(50,50,52) !important;
    
  }

 /* BUTTONS, HOVER ETC...*/

  .toolbarbutton-1 {
    filter: grayscale(60%) !important;;
    --toolbarbutton-hover-background: none !important;
    --toolbarbutton-active-background: none !important;
  }
  .toolbarbutton-1:hover {
    filter: grayscale(10%) !important;;
    
  }
  

  /* Color on Bookmarks Toolbar Item Hover */
  
  #personal-bookmarks {
    --toolbarbutton-hover-background: none !important;
   }

  #personal-bookmarks .bookmark-item .toolbarbutton-icon {
    filter: grayscale(100%) !important;;
   }

#personal-bookmarks .bookmark-item:hover .toolbarbutton-icon {
    filter: grayscale(50%) !important;;
    
   }


  
  /* URLBAR BUTTONS */

  #pocket-button,  {
    display: none !important;
}

#star-button-box {
    display: none !important;
}

#identity-box {
    display: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
    
}

/* URLBAR BUTTONS END */


/* TABS*/

  .tab-line {
    display: none !important;
  }
  .tabbrowser-tab::before, 
  .tabbroser-tab::after{
  display: none !important;
}
/* Hide border from rightmost background tab */
    .tabbrowser-tab::after {
        opacity: 0 !important; 
        }
  
  .tab-background {
   
    background-image: none !important;
    background-color: none !important;
    box-shadow: none !important;
  }

  .titlebar-spacer[type="pre-tabs"] {
    border-inline-end: none !important;
}

  .tab-background[selected="true"] {
    background-color: none !important;
    background-image: none !important;
    box-shadow: none !important;
  }
  
  .tab-background[selected="false"] {
    border: none !important;
  }
  .tabbrowser-tab .tab-icon-image {filter: grayscale(100%) !important;}
  .tabbrowser-tab .tab-icon-image[selected="true"] {filter: none !important;}

 

  /* TABS END*/

  /* URL-BAR*/
  
  #urlbar-background {
    background-color: rgba(255,255,255,0.1) !important;
    border: none !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;
  }
  
  .urlbarView-body-inner {
    border-top: none !important;
    
  }

  .urlbar-input-box {
    padding-left: 12px !important;
}
  #urlbar[breakout] {
    --urlbar-height: 26px !important;
    --urlbar-toolbar-height: 34px !important;
  }
  
  #urlbar[breakout][breakout-extend] > #urlbar-input-container,
  #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    transition: none !important;
  }
  
  #urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
  }

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    animation-name: none !important;
    backdrop-filter: blur(5px) brightness(30%) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
  
}
  /* URL-BAR END*/
  
/* SHOW/HIDE BOOKMARKS ON HOVER & GRAYSCALE ICONS*/

  #personal-bookmarks {
    opacity: 0.0;
    transition: all 0.2s ease-in;

  }
  
  #navigator-toolbox:hover #personal-bookmarks {
    opacity: 1.0;
  }
